/*Importa arquivos de estilo separados por seções*/
@import url("pages/header.css");
@import url("pages/section.css");
@import url("pages/portifolio.css");
@import url("pages/contato.css");
@import url("pages/footer.css");

/*básico em tudo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos gerais*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
  padding-top: 100px; /* Espaço para o header fixo */
}

/*Ajustes para telas menores*/
@media (max-width: 768px) {
  header h2 {
    font-size: 1.2rem;
  }

  #nav_lista {
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding: 5px 0;
    font-size: 0.7rem;
  }

  section {
    padding: 40px 15px;
  }

  #portifolio div {
    text-align: center;
  }

  #portifolio img {
    width: 90%;
    height: auto;
  }
}
/*Garante que o scroll da página não esconda os títulos ao clicar nos links*/
section {
  scroll-margin-top: 100px;
}
/*Fica mais suave ao clicar nos links*/
html {
  scroll-behavior: smooth;
}